launch:
  - node:
      pkg: {{ package_name }}
      exec: {{ node_name }}
      name: {{ node_name }}
      output: screen
{% if has_params %}
      param:
        - name: param
          value: 1.0
{% endif %}
