#!/usr/bin/env python3

import os

from ament_index_python import get_package_share_directory
from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument
from launch.substitutions import LaunchConfiguration
from launch_ros.actions import Node


def generate_launch_description():

    args = [
        DeclareLaunchArgument("name", default_value="{{ node_name }}", description="node name"),
        DeclareLaunchArgument("namespace", default_value="", description="node namespace"),
        DeclareLaunchArgument("params", default_value=os.path.join(get_package_share_directory("{{ package_name }}"), "config", "params.yml"), description="path to parameter file"),
    ]

    nodes = [
        Node(
            package="{{ package_name }}",
            executable="{{ node_name }}",
            namespace=LaunchConfiguration("namespace"),
            name=LaunchConfiguration("name"),
{% if has_params %}
            parameters=[LaunchConfiguration("params")],
{% else %}
            parameters=[],
{% endif %}
            output="screen",
            emulate_tty=True,
        )
    ]

    return LaunchDescription([
        *args,
        *nodes,
    ])
