import os
import unittest
import launch
import launch_ros.actions
import launch_testing
import pytest

@pytest.mark.launch_test
def generate_test_description():
    {% if launch_file_type == 'py' %}
    launch_file = os.path.join("{{package_name}}", "launch", "{{node_name}}_launch.py")
    {% endif %}
    {% if launch_file_type == 'xml' %}
    launch_file = os.path.join("{{package_name}}", "launch", "{{node_name}}_launch.xml")
    {% endif %}
    {% if launch_file_type == 'yml' %}
    launch_file = os.path.join("{{package_name}}", "launch", "{{node_name}}_launch.yml")
    {% endif %}
    
    included_launch = launch.actions.IncludeLaunchDescription(
        launch.launch_description_sources.PythonLaunchDescriptionSource(launch_file)
    )

    return (
        launch.LaunchDescription([
            included_launch,
            launch_testing.actions.ReadyToTest()
        ]),
        {'included_launch': included_launch}
    )


@launch_testing.post_shutdown_test()
class TestProcessOutput(unittest.TestCase):

    def test_exit_code(self, proc_info):
        # Check that all processes in the launch (in this case, there's just one) exit
        # with code 0
        launch_testing.asserts.assertExitCodes(proc_info)