#!/usr/bin/env python3

import os

from ament_index_python import get_package_share_directory
from launch import LaunchDescription
{% if is_lifecycle %}
from launch.actions import DeclareLaunchArgument, GroupAction
from launch.conditions import LaunchConfigurationNotEquals
from launch.substitutions import LaunchConfiguration
from launch_ros.actions import LifecycleNode, SetParameter
{% else %}
from launch.actions import DeclareLaunchArgument
from launch.substitutions import LaunchConfiguration
from launch_ros.actions import Node
{% endif %}


def generate_launch_description():

    args = [
        DeclareLaunchArgument("name", default_value="{{ node_name }}", description="node name"),
        DeclareLaunchArgument("namespace", default_value="", description="node namespace"),
        DeclareLaunchArgument("params", default_value=os.path.join(get_package_share_directory("{{ package_name }}"), "config", "params.yml"), description="path to parameter file"),
{% if is_lifecycle %}
        DeclareLaunchArgument("startup_state", default_value="None", description="initial lifecycle state"),
{% endif %}
    ]

{% if is_lifecycle %}
    nodes = [
        GroupAction(
            actions=[
                SetParameter(
                    name="startup_state",
                    value=LaunchConfiguration("startup_state"),
                    condition=LaunchConfigurationNotEquals("startup_state", "None")
                ),
                LifecycleNode(
                    package="{{ package_name }}",
                    executable="{{ node_name }}",
                    namespace=LaunchConfiguration("namespace"),
                    name=LaunchConfiguration("name"),
{% if has_params %}
                    parameters=[LaunchConfiguration("params")],
{% else %}
                    parameters=[],
{% endif %}
                    output="screen",
                    emulate_tty=True,
                )
            ]
        )
    ]
{% else %}
    nodes = [
        Node(
            package="{{ package_name }}",
            executable="{{ node_name }}",
            namespace=LaunchConfiguration("namespace"),
            name=LaunchConfiguration("name"),
{% if has_params %}
            parameters=[LaunchConfiguration("params")],
{% else %}
            parameters=[],
{% endif %}
            output="screen",
            emulate_tty=True,
        )
    ]
{% endif %}

    return LaunchDescription([
        *args,
        *nodes,
    ])
