#!/usr/bin/env python3

import os
from ament_index_python import get_package_share_directory
from launch import LaunchDescription
from launch_ros.actions import Node


def generate_launch_description():

{% if has_params %}
    config = os.path.join(
        get_package_share_directory("{{ package_name }}"),
        "config",
        "params.yaml"
    )

{% endif %}
    return LaunchDescription([
        Node(
            package="{{ package_name }}",
            executable="{{ node_name }}",
            name="{{ node_name }}",
            output="screen",
            emulate_tty=True,
{% if has_params %}
            parameters=[config]
{% endif %}
        )
    ])
