#include <rclcpp/rclcpp.hpp>
{% if has_action_server %}
#include <rclcpp_action/rclcpp_action.hpp>
{% endif %}


namespace {{ package_name }} {


class {{ node_cpp_class_name }} : public rclcpp::Node {

 public:

  {{ node_cpp_class_name }}();

 private:

{% if has_subscriber %}
  static const std::string kInputTopic;
{% endif %}
{% if has_publisher %}
  static const std::string kOutputTopic;
{% endif %}
{% if has_params %}
  static const std::string kParam;
{% endif %}

 private:

{% if has_params %}
  void loadParameters();

{% endif %}
  void setup();

{% if has_params %}
  rcl_interfaces::msg::SetParametersResult parametersCallback(const std::vector<rclcpp::Parameter>& parameters);

{% endif %}
{% if has_subscriber %}
  void topicCallback(const template_interfaces_pkg::msg::TemplateMessage& msg);

{% endif %}
{% if has_service_server %}
  void serviceCallback(const std::shared_ptr<template_interfaces_pkg::srv::TemplateService::Request>request, std::shared_ptr<template_interfaces_pkg::srv::TemplateService::Response> response);

{% endif %}
{% if has_action_server %}
  rclcpp_action::GoalResponse actionHandleGoal(const rclcpp_action::GoalUUID& uuid,std::shared_ptr<const template_interfaces_pkg::action::TemplateAction::Goal> goal);
  rclcpp_action::CancelResponse actionHandleCancel(const std::shared_ptr<rclcpp_action::ServerGoalHandle<template_interfaces_pkg::action::TemplateAction>> goal_handle);
  void actionHandleAccepted(const std::shared_ptr<rclcpp_action::ServerGoalHandle<template_interfaces_pkg::action::TemplateAction>> goal_handle);
  void actionExecute(const std::shared_ptr<rclcpp_action::ServerGoalHandle<template_interfaces_pkg::action::TemplateAction>> goal_handle);

{% endif %}
{% if has_timer %}
  void publishTimerCallback();

{% endif %}
 private:

{% if has_params %}
  OnSetParametersCallbackHandle::SharedPtr parameters_callback_;

{% endif %}
{% if has_subscriber %}
  rclcpp::Subscription<template_interfaces_pkg::msg::TemplateMessage>::SharedPtr subscriber_;

{% endif %}
{% if has_publisher %}
  rclcpp::Publisher<template_interfaces_pkg::msg::TemplateMessage>::SharedPtr publisher_;

{% endif %}
{% if has_service_server %}
  rclcpp::Service<template_interfaces_pkg::srv::TemplateService>::SharedPtr service_server_;

{% endif %}
{% if has_action_server %}
  rclcpp_action::Server<template_interfaces_pkg::action::TemplateAction>::SharedPtr action_server_;

{% endif %}
{% if has_timer %}
  rclcpp::TimerBase::SharedPtr publish_timer_;

{% endif %}
{% if has_params %}
  double param_ = 1.0;

{% endif %}

  int count_ = 0;
};


}
