<?xml version="1.0"?>
<?xml-model href="http://download.ros.org/schema/package_format3.xsd" schematypens="http://www.w3.org/2001/XMLSchema"?>
<package format="3">

  <name>{{ package_name }}</name>
  <version>0.0.0</version>
  <description>{{ description }}</description>

  <maintainer email="{{ maintainer_email }}">{{ maintainer }}</maintainer>
  <author email="{{ author_email }}">{{ author }}</author>

  <license>{{ license }}</license>

  <buildtool_depend>ament_python</buildtool_depend>

  <depend>rclpy</depend>

  <export>
    <build_type>ament_python</build_type>
  </export>

</package>
