#!/usr/bin/env python3

import os

from ament_index_python import get_package_share_directory
from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument
from launch.substitutions import LaunchConfiguration
from launch_ros.actions import Node, SetParameter


def generate_launch_description():

    remappable_topics = [
{% if has_subscriber %}
        DeclareLaunchArgument("input_topic", default_value="~/input"),
{% endif %}
{% if has_publisher %}
        DeclareLaunchArgument("output_topic", default_value="~/output"),
{% endif %}
    ]

    args = [
        DeclareLaunchArgument("name", default_value="{{ node_name }}", description="node name"),
        DeclareLaunchArgument("params", default_value=os.path.join(get_package_share_directory("{{ package_name }}"), "config", "params.yml"), description="path to parameter file"),
        DeclareLaunchArgument("log_level", default_value="info", description="ROS logging level (debug, info, warn, error, fatal)"),
        DeclareLaunchArgument("use_sim_time", default_value="false", description="use simulation clock"),
    ]

    nodes = [
        Node(
            package="{{ package_name }}",
            executable="{{ node_name }}",
            name=LaunchConfiguration("name"),
{% if has_params %}
            parameters=[LaunchConfiguration("params")],
{% else %}
            parameters=[],
{% endif %}
            arguments=["--ros-args", "--log-level", LaunchConfiguration("log_level")],
            output="screen",
            emulate_tty=True,
            remappings=remappable_topics
        )
    ]

    return LaunchDescription([
        *args,
        SetParameter("use_sim_time", LaunchConfiguration("use_sim_time")),
        *nodes,
    ])
