<launch>

  <node pkg="{{ package_name }}" exec="{{ node_name }}" name="{{ node_name }}" output="screen">
    <param from="$(find-pkg-share {{ package_name }})/config/params.yaml" />
  </node>

</launch>
