name: Lint, Build & Test
on:
  push:
    branches:
      - {{ default_branch }}
  pull_request:
    branches:
      - {{ default_branch }}
defaults:
  run:
    shell: bash
jobs:
  Linting:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup
        run: sudo apt-get update && sudo apt-get install -y black clang-format cppcheck libxml2-utils
      {% if add_pre_commit %}
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Install and Run pre-commit
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files
      {% else %}
      - name: Lint C++ code
        run: |
          # Finds all C/C++ files excluding build/install folders if they exist
          FILES=$(find . -path ./build -prune -o -path ./install -prune -o -name '*.[ch]*' -print)
          if [ -n "$FILES" ]; then
            clang-format -Werror -n -style=file $FILES
          fi

      - name: Run cppcheck
        run: |
          cppcheck --force --quiet --inline-suppr --error-exitcode=1 --language=c++ .

      - name: Lint package.xml
        run: |
          # Validate all package.xml files found in the repo
          find . -name 'package.xml' -exec xmllint --noout --schema http://download.ros.org/schema/package_format3.xsd {} +

      - name: Lint Python code with black 
        run: black --check .
      {% endif %}


  build-and-test:
    needs: Linting
    strategy:
      matrix:
        setup:
          - rosdistro: jazzy
            os: ubuntu-24.04
    runs-on: ${{ matrix.setup.os }}
    container:
      image: ros:${{ matrix.setup.rosdistro }}-ros-base
    steps:
      - name: Install Build Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ros-dev-tools python3-vcstool

      - name: Checkout Local Repo
        uses: actions/checkout@v4
        with:
          path: src/${{ github.event.repository.name }}

      - name: Recursive VCS Import
        run: |
          cd src
          PREVIOUS_HASH=""
          for i in {1..10}; do
            REPOS_FILES=$(find . -name "*.repos")
            CURRENT_HASH=$(echo "$REPOS_FILES" | sort | md5sum)
            if [ "$CURRENT_HASH" == "$PREVIOUS_HASH" ]; then
              echo "Dependency tree fully resolved."
              break
            fi
            for f in $REPOS_FILES; do
              vcs import . < "$f"
            done
            PREVIOUS_HASH="$CURRENT_HASH"
          done

      - name: rosdep
        run: |
          rosdep update --rosdistro ${{ matrix.setup.rosdistro }} --include-eol-distros
          rosdep install -y --from-paths src --ignore-src --rosdistro ${{ matrix.setup.rosdistro }}

      - name: Identify Local Packages
        run: |
          source /opt/ros/${{ matrix.setup.rosdistro }}/setup.bash
          # xargs trims whitespace and ensures the list is space-separated
          PKGS=$(colcon list --names-only --base-paths src/${{ github.event.repository.name }} | tr '\n' ' ' | xargs)
          
          if [ -z "$PKGS" ]; then
            echo "::error::No packages found. Check if the repo name matches folder name."
            exit 1
          fi
          echo "LOCAL_PKGS=$PKGS" >> $GITHUB_ENV

      - name: Build Local Packages
        run: |
          source /opt/ros/${{ matrix.setup.rosdistro }}/setup.bash
          colcon build --packages-up-to $LOCAL_PKGS --event-handlers console_direct+

      - name: Test Local Packages
        run: |
          source /opt/ros/${{ matrix.setup.rosdistro }}/setup.bash
          colcon test --packages-select $LOCAL_PKGS --event-handlers console_direct+

      - name: Test Results
        if: always()
        run: |
          source /opt/ros/${{ matrix.setup.rosdistro }}/setup.bash
          colcon test-result --verbose