#!/usr/bin/env python3

import os

from ament_index_python import get_package_share_directory
from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument
from launch.substitutions import LaunchConfiguration
from launch_ros.actions import Node, SetParameter
from launch_ros.actions import Node, SetParameter, PushRosNamespace, SetRemap

def generate_launch_description():

    remappable_topics = [
        #DeclareLaunchArgument("input_topic", default_value="~/input"),
    ]

    args = [
        DeclareLaunchArgument("name", default_value="{{ node_name }}", description="node name"),
        DeclareLaunchArgument("params", default_value=os.path.join(get_package_share_directory("{{ package_name }}"), "config", "params.yml"), description="path to parameter file"),
        DeclareLaunchArgument("log_level", default_value="info", description="ROS logging level (debug, info, warn, error, fatal)"),
        DeclareLaunchArgument("use_sim_time", default_value="false", description="use simulation clock"),
        *remappable_topics,
    ]

    node_config = os.path.join(
        get_package_share_directory("{{ package_name }}"),
        "config",
        "{{ launch_name }}.yaml",
    )


    nodes = [
        Node(
            package="{{ package_name }}",
            executable="{{ node_name }}",
            name=LaunchConfiguration("name"),
            parameters=[node_config],
            arguments=["--ros-args", "--log-level", LaunchConfiguration("log_level")],
            remappings=[(la.default_value[0].text, LaunchConfiguration(la.name)) for la in remappable_topics],
            output="screen",
            emulate_tty=True,
        )]


    return LaunchDescription([
        *args,
        SetRemap(src="/tf", dst="tf"),
        SetRemap(src="/tf_static", dst="tf_static"),
        SetParameter("use_sim_time", LaunchConfiguration("use_sim_time")),
        *nodes,
    ])
