<launch>

  <!-- Declare arguments -->
  <arg name="name" default="{{ node_name }}" description="Node name" />
  <arg name="params" default="$(find-pkg-share {{ package_name }})/config/{{ launch_name }}.yml" description="Path to parameter file" />

    
  <!-- TF Remappings -->
  <remap from="/tf" to="tf" />
  <remap from="/tf_static" to="tf_static" />

  <!-- Node Definition -->
  <node pkg="{{ package_name }}" exec="{{ node_name }}.py" name="$(var name)" output="screen">
    <param from="$(find-pkg-share {{ package_name }})/config/{{ launch_name }}.yaml" />
  </node>


</launch>