<?xml version="1.0"?>
<?xml-model href="http://download.ros.org/schema/package_format3.xsd" schematypens="http://www.w3.org/2001/XMLSchema"?>
<package format="3">

  <name>{{ package_name }}</name>
  <version>0.0.0</version>
  <description>{{ description }}</description>

  <maintainer email="{{ maintainer_email }}">{{ maintainer }}</maintainer>
  <author email="{{ author_email }}">{{ author }}</author>

  <license>{{ license }}</license>

  <buildtool_depend>ament_cmake</buildtool_depend>

{% if is_lifecycle %}
  <depend>lifecycle_msgs</depend>
{% endif %}
  <depend>rclcpp</depend>
{% if is_component %}
  <depend>rclcpp_components</depend>
{% endif %}
{% if is_lifecycle %}
  <depend>rclcpp_lifecycle</depend>
{% endif %}
  <depend>std_msgs</depend>
{% if has_service_server %}
  <depend>std_srvs</depend>
{% endif %}
{% if has_action_server %}
  <depend>{{ package_name }}_interfaces</depend>
{% endif %}

  <export>
    <build_type>ament_cmake</build_type>
  </export>

</package>
