# {{ package_name }}

{{ description }}

- [Container Images](#container-images)
- [{{ node_name }}](#{{ node_name }})


### Container Images

| Description | Image:Tag | Default Command |
| --- | --- | -- |
|  |  |  |


## `{{ node_name }}`

### Subscribed Topics

| Topic | Type | Description |
| --- | --- | --- |
|  |  |  |

### Published Topics

| Topic | Type | Description |
| --- | --- | --- |
|  |  |  |

### Services

| Service | Type | Description |
| --- | --- | --- |
|  |  |  |

### Actions

| Action | Type | Description |
| --- | --- | --- |
|  |  |  |

### Parameters

| Parameter | Type | Description |
| --- | --- | --- |
|  |  |  |
