cmake_minimum_required(VERSION 3.8)
project({{ package_name }})

find_package(rosidl_default_generators REQUIRED)

# Find necessary packages
find_package(ament_cmake REQUIRED)

# Install directories
install(DIRECTORY
  config
  launch
  DESTINATION share/${PROJECT_NAME}
)

ament_package()
